<div class="position-relative">
  <app-staff-navbar></app-staff-navbar>
  <div class="container-fluid" style="margin-top: 4.05rem;">
    <div class="row my-1" style="min-width: 100vw">
      <div class="col" style="font-family: Poppins, sans-serif">
        <p-card class="shadow-sm border-light" styleClass="bg-light">
          <ng-template pTemplate="header" >
            <div class="row pt-5">
              <h3 class="text-center fw-bolder">Customer Details</h3>
            </div>
          </ng-template>

          <!-- Email Address -->
          <div class="row mb-3 ">
              <div class="col">
                <div class="row">
                  <h5>Customer Email Address</h5>
                </div>
                <div class="row mb-1">
                  <div class="col-12">
                    <span class="p-fluid">
                      <p-autoComplete field="emailAddress" (completeMethod)="this.search($event)" [suggestions]="suggestions" (onUnselect)="this.onUnselected()" (onClear)="this.onUnselected()" [lazy]="true" (onSelect)="this.onSelected($event)" [minLength]="1"></p-autoComplete>
                  </span>
                  </div>
                </div>
                <div class="row">
                  <small id="username1-help" class="fw-light">Search for the users email address, If not present a new account would be created</small>
                </div>
              </div>
          </div>

          <!-- Customer Name -->
          <div class=" row mb-3">
            <div class="col">
              <div class="row">
                <h5>Customer First Name</h5>
              </div>
              <div class="row mb-1">
                <div class="col-12">
                  <input [readOnly]="true" type="text" class="form-control" value="{{this.currentlySelected? this.currentlySelected.firstName : ''}}" />
                </div>
              </div>
            </div>

            <div class="col">
              <div class="row">
                <h5>Customer Last Name</h5>
              </div>
              <div class="row mb-1">
                <div class="col-12">
                  <input [readOnly]="true" type="text" class="form-control" value="{{this.currentlySelected? this.currentlySelected.lastName : ''}}" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <ng-container *ngIf="this.currentlySelected && this.currentlySelected.wallet >= 0">
                <img src="assets/coin.svg" width="40px" alt="">
                <span class="ps-2 text-info fw-bold">{{this.currentlySelected.wallet | currency: "INR"}}</span>
              </ng-container>
            </div>
            <div class="col">
              <button pButton type="button" label="Place Order" icon="pi pi-check"></button>
            </div>
            <div class="col">
              <button pButton type="button" label="Cancel" class="p-button-warning" icon="pi pi-trash"></button>
            </div>
          </div>
        </p-card>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>
