<app-overlay></app-overlay>
<p-toast position="top-right"></p-toast>
<div class="b-start ">
  <div class="container-fluid">
    <div class="card">
      <div class="row row-cols-1 g-0">
        <div class="col-4" style="margin-right: -0.5rem; margin-left: 0.5rem">
          <app-food-reg (regEvent)="this.onFoodRegSuccess($event)"></app-food-reg>
        </div>
        <div class="col-1" style="width: 1.8%;">
          <p-divider layout="vertical"></p-divider>
        </div>
        <div class="col-5" style="width: 64%">
          <ng-container *ngIf="foods">
            <app-food-view [foods]="foods" (foodDelete)="this.onFoodDelete($event)"></app-food-view>
          </ng-container>
          <ng-container *ngIf="!foods" class="no-error-provider">
            <div class="d-flex h-100 align-items-center justify-content-center">
              <h5 style="font-family: 'Poppins-Bold', sans-serif; color: #f4003a">No Foods are registered. Create a new one now!</h5>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
