
<div class="whole">
  <div class="container {{mode}}">
    <div class="forms-container">
      <div class="signin-signup">
        <form class="sign-in-form" [formGroup]="logGroup">
          <img src="assets/cafet.svg" width="52px" height="52px">
          <h2 class="title my-3">Login</h2>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="text" formControlName="emailAddress" placeholder="Email Address">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="{{this.toggleIcon}}" formControlName="password" placeholder="Password" id="id_password" >
            <i class="far {{this.toggleIconName}}" id="togglePassword" (click)="togglePassword()" style="cursor: pointer;"></i>
          </div>
          <a class="pass" >Forgot your password?</a>
          <input type="submit" [disabled]="logGroup.invalid" value="Sign in" (click)="this.signin()" class="btn solid">
        </form>
        <form [formGroup]="regGroup" class="sign-up-form">
          <img src="assets/cafet.svg" width="52px" height="52px">
          <h2 class="title my-3">Register</h2>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" formControlName="emailAddress">
          </div>

          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" formControlName="firstName"  placeholder="First Name" >
          </div>

          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text"  placeholder="Last Name" formControlName="lastName">
          </div>

          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="{{this.toggleIcon}}" placeholder="Password" formControlName="password">
            <i class="far {{this.toggleIconName}}"  (click)="togglePassword()" style="cursor: pointer;"></i>
          </div>
          <label class="check">
            <input type="checkbox" formControlName="termsCheckbox">
            <span class="ms-2 checkmark">I accept the <a>terms and services</a></span>
          </label>
          <input type="submit" [disabled]="regGroup.invalid" value="Create" (click)="this.signup()" class="btn solid">
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>You don't have an account?</h3>
          <p>Create your account right now to scroll through our menu</p>
          <button class="btn transparent" (click)="toggleMode()" >Register</button>
        </div>
        <img src="img/log.svg" class="image" alt="">
      </div>

      <div class="panel right-panel">
        <div class="content">
          <h3>Already have an account?</h3>
          <p>Login to see your previous cravings and new menus</p>
          <button class="btn transparent" (click)="toggleMode()">Sign in</button>
        </div>
        <img src="img/register.svg" class="image" alt="">
      </div>
    </div>
  </div></div>
