<nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top" style="background-color: #f3f3f3">
  <a class="navbar-brand d-flex align-items-center" routerLink="/admin">
    <img src="assets/cafet.svg">
    <span class="ml-3 font-weight-bold">afet</span>
  </a>

  <div class="row">
    <div class="col-1 mns">
      <ng-container *ngIf="iLink">
        <p-avatar image="{{this.iLink}}" (click)="menu.toggle($event)" styleClass="mr-2" size="small" shape="circle"></p-avatar>
      </ng-container>
      <ng-container *ngIf="!iLink">
        <p-avatar label="A" shape="circle" (click)="menu.toggle($event)"></p-avatar>
      </ng-container>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </div>
</nav>
