<p-card>
  <p-toast position="top-right"></p-toast>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
      <div class="d-flex ">
        <h3 style="color: #2C74B3;">Register Food</h3>
      </div>
    </div>
  </div>

  <div class="card mt-4" style="height: 33rem">
    <form [formGroup]="fg">
      <div class="card-body">
        <div class="row">
          <div class="col-4 pt-2 ms-2">
            <span class="text-primary" >Food Name</span>
          </div>
          <div class="col-6">
            <input type="text" formControlName="FoodName" class="pe-5" placeholder="Name of the food" pInputText>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-4 pt-2 ms-2">
            <span class="text-primary" >Category Name</span>
          </div>
          <div class="col-6">
            <p-autoComplete #catName formControlName="CategoryName" class="pe-5" placeholder="Name of the category" [dropdown]="true" field="" [showEmptyMessage]="true" (onSelect)="selectCategory(catName)" [suggestions]="filter" (completeMethod)="filterCategory($event)" [minLength]="1"></p-autoComplete>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-4 pt-2 ms-2">
            <span class="text-primary" >Food Description</span>
          </div>
          <div class="col-6">
            <textarea pInputTextarea formControlName="FoodDescription" [rows]="5" [cols]="23" [autoResize]="true" class="pe-5" placeholder="A short description of the food"></textarea>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-4 pt-2 ms-2">
            <span class="text-primary" >Category Name</span>
          </div>
          <div class="col-6">
            <p-inputNumber formControlName="FoodPrice"  locale="en-IN" class="pe-5" [minFractionDigits]="2" [showButtons]="true" inputId="stacked" mode="currency" [min]="0" currency="INR" ></p-inputNumber>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-4 pt-2 ms-2">
            <span class="text-primary" >Food Image</span>
          </div>
          <div class="col-6">
            <p-fileUpload name="pfpImage" mode="basic" (onSelect)="onImageSelect($event)" chooseLabel="Select Image" accept="image/*" [maxFileSize]="1000000"></p-fileUpload>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-5">
          </div>
          <div class="col-6">
            <p-button (click)="submit()" [disabled]="isValid()" label="Create"></p-button>
          </div>
        </div>
      </div>

    </form>
  </div>
</p-card>
